// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// @import "bootstrap-sprockets";
@import "bootstrap";

html,
body {
    background-color: rgb(255, 255, 255);
}

body .index {
    background-color: yellow;
}

h1 {
    text-align:  center;
    margin-bottom: -20px;

}

.card-show {
	padding-top: 5rem;
	padding-bottom:  5rem;
	padding-left: 5rem;
	padding-right: 5rem;
}

.blah {
    margin-left: 3%;
    width: 94%;

}

.btn-block {
    margin: auto;
}

.card {
    background-color: purple;

}
.card-deck{
    background-color: rgba(45, 45, 45, 0);
    margin: auto;
    margin-top: -40px;
    padding: 30px;
}

.card-text {
    float: left;
}

.card-body {
    background-color: #d5d5d5;
}
